In [ ]:
# @BEGIN data_assessement @desc Assess quality of dataset
# @in farmersmarket
# @out report @desc Assessement report

In [1]:
import pandas as pd
dataset = pd.read_csv('farmersmarkets.csv')

In [76]:
# @begin table_assessment @des Assess length, uniqueness, null values, types
print('N of row:',len(dataset),'; N of columns',len(dataset.columns))

N of row: 8687 ; N of columns 59

In [7]:
types = pd.DataFrame(data=dataset.dtypes)
types['name']= list(types.index)
types = types.rename(index=str, columns={0: "object"})

In [8]:
types

                object           name
FMID             int64           FMID
MarketName      object     MarketName
Website         object        Website
Facebook        object       Facebook
Twitter         object        Twitter
Youtube         object        Youtube
OtherMedia      object     OtherMedia
street          object         street
city            object           city
County          object         County
State           object          State
zip             object            zip
Season1Date     object    Season1Date
Season1Time     object    Season1Time
Season2Date     object    Season2Date
Season2Time     object    Season2Time
Season3Date     object    Season3Date
Season3Time     object    Season3Time
Season4Date     object    Season4Date
Season4Time     object    Season4Time
x              float64              x
y              float64              y
Location        object       Location
Credit          object         Credit
WIC             object            WIC
WICcash         object        WICcash
SFMNP           object          SFMNP
SNAP            object           SNAP
Organic         object        Organic
Bakedgoods      object     Bakedgoods
Cheese          object         Cheese
Crafts          object         Crafts
Flowers         object        Flowers
Eggs            object           Eggs
Seafood         object        Seafood
Herbs           object          Herbs
Vegetables      object     Vegetables
Honey           object          Honey
Jams            object           Jams
Maple           object          Maple
Meat            object           Meat
Nursery         object        Nursery
Nuts            object           Nuts
Plants          object         Plants
Poultry         object        Poultry
Prepared        object       Prepared
Soap            object           Soap
Trees           object          Trees
Wine            object           Wine
Coffee          object         Coffee
Beans           object          Beans
Fruits          object         Fruits
Grains          object         Grains
Juices          object         Juices
Mushrooms       object      Mushrooms
PetFood         object        PetFood
Tofu            object           Tofu
WildHarvested   object  WildHarvested
updateTime      object     updateTime

In [69]:
types.groupby(['object'])['name'].count()

object
int64       1
float64     2
object     56
Name: name, dtype: int64

In [3]:
dataset.isnull().sum()

FMID                0
MarketName          0
Website          3475
Facebook         4756
Twitter          7672
Youtube          8508
OtherMedia       7962
street            290
city               39
County            515
State               0
zip               944
Season1Date      3208
Season1Time      3050
Season2Date      8238
Season2Time      8250
Season3Date      8606
Season3Time      8610
Season4Date      8681
Season4Time      8681
x                  29
y                  29
Location         5958
Credit              0
WIC                 0
WICcash             0
SFMNP               0
SNAP                0
Organic             0
Bakedgoods       2933
Cheese           2933
Crafts           2933
Flowers          2933
Eggs             2933
Seafood          2933
Herbs            2933
Vegetables       2933
Honey            2933
Jams             2933
Maple            2933
Meat             2933
Nursery          2933
Nuts             2933
Plants           2933
Poultry          2933
Prepared         2933
Soap             2933
Trees            2933
Wine             2933
Coffee           2933
Beans            2933
Fruits           2933
Grains           2933
Juices           2933
Mushrooms        2933
PetFood          2933
Tofu             2933
WildHarvested    2933
updateTime          0
dtype: int64

In [30]:
for i in range(23, 58):
        print(dataset.iloc[:,i].unique())

['Y' 'N']
['Y' 'N']
['N' 'Y']
['Y' 'N']
['N' 'Y']
['Y' '-' 'N']
['Y' nan 'N']
['Y' 'N' nan]
['Y' nan 'N']
['Y' nan 'N']
['Y' nan 'N']
['N' nan 'Y']
['Y' nan 'N']
['Y' nan 'N']
['Y' nan 'N']
['Y' nan 'N']
['Y' nan 'N']
['Y' 'N' nan]
['N' nan 'Y']
['N' nan 'Y']
['N' nan 'Y']
['Y' nan 'N']
['Y' 'N' nan]
['Y' nan 'N']
['Y' 'N' nan]
['N' nan 'Y']
['Y' 'N' nan]
['Y' 'N' nan]
['Y' nan 'N']
['N' nan 'Y']
['N' nan 'Y']
['Y' 'N' nan]
['Y' 'N' nan]
['N' nan 'Y']
['N' nan 'Y']

In [11]:
dataset.zip.unique()

array(['05828', nan, '29682', ..., '84767', '46077', '64153'],
      dtype=object)

In [37]:
dataset.FMID = dataset.FMID.astype(str)

In [40]:
len(dataset.FMID.unique().tolist())

8687

In [4]:
dataset.head()

,FMID,MarketName,Website,Facebook,Twitter,Youtube,OtherMedia,street,city,County,...,Coffee,Beans,Fruits,Grains,Juices,Mushrooms,PetFood,Tofu,WildHarvested,updateTime
0,1018261,Caledonia Farmers Market Association - Danville,https://sites.google.com/site/caledoniafarmers...,https://www.facebook.com/Danville.VT.Farmers.M...,NaN,NaN,NaN,NaN,Danville,Caledonia,...,Y,Y,Y,N,N,Y,Y,N,N,6/20/2017 10:43:57 PM
1,1018318,Stearns Homestead Farmers' Market,http://www.StearnsHomestead.com,StearnsHomesteadFarmersMarket,NaN,NaN,NaN,6975 Ridge Road,Parma,Cuyahoga,...,N,N,Y,N,N,N,N,N,N,6/21/2017 5:15:01 PM
2,1009364,106 S. Main Street Farmers Market,http://thetownofsixmile.wordpress.com/,NaN,NaN,NaN,NaN,106 S. Main Street,Six Mile,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
3,1010691,10th Steet Community Farmers Market,NaN,NaN,NaN,NaN,http://agrimissouri.com/mo-grown/grodetail.php...,10th Street and Poplar,Lamar,Barton,...,N,N,Y,N,N,N,N,N,N,10/28/2014 9:49:46 AM
4,1002454,112st Madison Avenue,NaN,NaN,NaN,NaN,NaN,112th Madison Avenue,New York,New York,...,N,N,N,N,N,N,N,N,N,3/1/2012 10:38:22 AM

In [10]:
dataset[['Season1Date','Season1Time','Season2Date','Season2Time',
'Season3Date','Season3Time','Season4Date','Season4Time','zip']].head()

,Season1Date,Season1Time,Season2Date,Season2Time,Season3Date,Season3Time,Season4Date,Season4Time,zip
0,06/14/2017 to 08/30/2017,Wed: 9:00 AM-1:00 PM;,09/06/2017 to 10/18/2017,Wed: 2:00 PM-6:00 PM;,NaN,NaN,NaN,NaN,05828
1,06/24/2017 to 09/30/2017,Sat: 9:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29682
3,04/02/2014 to 11/30/2014,Wed: 3:00 PM-6:00 PM;Sat: 8:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN,64759
4,July to November,Tue:8:00 am - 5:00 pm;Sat:8:00 am - 8:00 pm;,NaN,NaN,NaN,NaN,NaN,NaN,10029

In [15]:
len(dataset.State.unique())

53

In [17]:
dataset.County.unique()

array(['Caledonia', 'Cuyahoga', nan, ..., 'Yancey', 'Golden Valley',
       'Sherburne'], dtype=object)

In [19]:
dataset.MarketName.head()

0     Caledonia Farmers Market Association - Danville
1                   Stearns Homestead Farmers' Market
2                   106 S. Main Street Farmers Market
3                 10th Steet Community Farmers Market
4                                112st Madison Avenue
Name: MarketName, dtype: object